<h2 mat-dialog-title>Demander un rendez-vous<h2>
    <br>
    <div mat-dialog-content style="font-size: 14px">
      <form [formGroup]="EditAppointmentRequestForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline">
          <mat-label>Sujet</mat-label>
          <input matInput placeholder="Sujet" formControlName="Subject" />
          <mat-error><strong>Sujet est Invalide</strong></mat-error>
        </mat-form-field>
        <br />

        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select placeholder="Status" formControlName="status">
            <mat-option value="En Attente">En Attente</mat-option>
            <mat-option value="Confirmé">Confirmé</mat-option>
            <mat-option value="Pas confirmé">Pas confirmé</mat-option>
          </mat-select>
          <mat-error><strong>Status est requis.</strong></mat-error>
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Description" formControlName="Description"></textarea>
          <mat-error><strong>Description est Invalide</strong></mat-error>
        </mat-form-field>
        <br />

        <mat-form-field appearance="outline">
          <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choisissez une date" formControlName="StartTime"
            [min]="minDate" [max]="maxDate" [disabled]="disabled">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
            [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
            [enableMeridian]="enableMeridian">
          </ngx-mat-datetime-picker>
          <mat-error><strong>Date est requis .</strong></mat-error>
        </mat-form-field>

        <div mat-dialog-actions [align]="'end'">
          <button mat-raised-button color="warn" mat-dialog-close>Annuler</button>
          <button type="submit" mat-raised-button color="primary">
            Enregistrer
          </button>
        </div>

      </form>
    </div>
