.col-xl-8 order-xl-1 {
  padding-left: 50px;
}

body {
  color: #566787;
  background: #f5f5f5;
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
}

.table-responsive {
  padding-top: 15px;
  padding-bottom: 0;
}

.table-wrapper {
  padding: 20px 25px;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
  padding-bottom: 15px;
  color: #fff;
  padding: 16px 30px;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}

.table-title h2 {
  margin: 5px 0 0;
  font-size: 24px;
}

.table-title .btn {
  color: #566787;
  float: right;
  font-size: 13px;
  background: #fff;
  border: none;
  min-width: 50px;
  border-radius: 2px;
  border: none;
  outline: none !important;
  margin-left: 10px;
}

.table-title .btn:hover,
.table-title .btn:focus {
  color: #566787;
  background: #f2f2f2;
}

.table-title .btn i {
  float: left;
  font-size: 21px;
  margin-right: 5px;
}

.table-title .btn span {
  float: left;
  margin-top: 2px;
}

.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 13px;
}

.delete {
  cursor: pointer;
}

.Edit {
  cursor: pointer;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.yellow-color {
  color: rgb(255, 217, 0);
}
.confirmed-class {
  background-color: #4DAC50;
  color: white;
  font-size: small;
  border-radius: 4px;
}
.unconfirmed-class{
  background-color: #F44238;
  color: white;
  font-size: small;
  border-radius: 4px;
}
