<h2 mat-dialog-title>Modifier Acte Médicale</h2>
<div mat-dialog-content style="font-size: 14px">
  <form [formGroup]="MedicalActEditForm" (ngSubmit)="onSubmit()">

    <div class="mat-form-field--inline">
      <mat-form-field appearance="outline">
        <mat-label>Nom Acte</mat-label>
        <input matInput placeholder="Nom du Acte" formControlName="NomActe" />
        <mat-error><strong>Nom du Acte est requis.</strong></mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions [align]="'end'">
      <button mat-raised-button color="warn" mat-dialog-close>Annuler</button>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="MedicalActEditForm.invalid"
      >
        Enregistrer
      </button>
    </div>
  </form>


</div>
